{% extends 'bases/base.html'%}
{% load static %}
{% block content %}

    <!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title page-title-layout7">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="pagetitle__heading color-dark">Cart</h1>
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="shop.html">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cart</li>
              </ol>
            </nav>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- =========================
				Shopping Cart
		=========================== -->
    <section id="ShoppinCcart" class="shop shopping-cart pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="cart-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cart__product ">
                    <td class="cart__product-item">
                      <div class="cart__product-remove">
                        <i class="fa fa-close"></i>
                      </div>
                      <div class="cart__product-img">
                        <img src="{% static 'images/shop/grid/1.jpg '%}" alt="product" />
                      </div>
                      <div class="cart__product-title">
                        <h6>Roast Sea Trout</h6>
                      </div>
                    </td>
                    <td class="cart__product-price">$ 10.00</td>
                    <td class="cart__product-quantity">
                      <div class="product-quantity">
                        <div class="quantity__input-wrap">
                          <i class="fa fa-minus decrease-qty"></i>
                          <input type="number" value="1" class="qty-input">
                          <i class="fa fa-plus increase-qty"></i>
                        </div>
                      </div>
                    </td>
                    <td class="cart__product-total">$ 10.00</td>
                  </tr>
                  <tr class="cart__product ">
                    <td class="cart__product-item">
                      <div class="cart__product-img">
                        <img src="{% static 'images/shop/grid/3.jpg '%}" alt="product" />
                      </div>
                      <div class="cart__product-title">
                        <h6>Roasted Steak Roulade</h6>
                      </div>
                      <i class="fa fa-close cart__product-remove"></i>
                    </td>
                    <td class="cart__product-price">$ 39.00</td>
                    <td class="cart__product-quantity">
                      <div class="product-quantity">
                        <div class="quantity__input-wrap">
                          <i class="fa fa-minus decrease-qty"></i>
                          <input type="number" value="1" class="qty-input">
                          <i class="fa fa-plus increase-qty"></i>
                        </div>
                      </div>
                    </td>
                    <td class="cart__product-total">$ 39.00</td>
                  </tr>
                  <tr class="cart__product-action">
                    <td colspan="4">
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 cart__product-action-content">
                          <form class="d-flex flex-wrap">
                            <input type="text" class="form-control mb-10 mr-10" placeholder="Coupon Code">
                            <button type="submit" class="btn btn__primary mb-10">Apply
                              Coupon</button>
                          </form>
                          <div>
                            <a class="btn btn__secondary mr-10" href="#">update cart</a>
                            <a class="btn btn__primary" href="#">Checkout</a>
                          </div>
                        </div><!-- /.col-lg-2  -->
                      </div><!-- /.row  -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.cart-table -->
          </div><!-- /.col-lg-12 -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="cart__shiping">
              <h6>Calculate Shipping :</h6>
              <form class="row">
                <div class="col-md-12">
                 <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name" id="name" name="name">
                 </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                      <input type="tel" class="form-control" placeholder="Your Name" id="name" name="name">
                    </div>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Adresse">
                </div>
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn__primary">Update Totals</button>
                </div>
              </form>
            </div><!-- /.cart__shiping -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="cart__total-amount">
              <h6>Cart Totals :</h6>
              <ul class="list-unstyled mb-0">
                <li><span>Cart Subtotal :</span><span>$ 140.00</span></li>
                <li><span>Shipping :</span><span>Free Shipping</span></li>
                <li><span>Order Total :</span><span>$ 140.00</span></li>
              </ul>
            </div><!-- /.cart__total-amount -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.shopping-cart -->

   {% endblock %}