{% extends 'bases/base.html'%}
{% load static %}
{% block content %}

    <!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title page-title-layout14 bg-overlay bg-overlay-2">
      <div class="bg-img"><img src="{% static 'images/backgrounds/3.jpg '%}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">Single Product</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Single Product</li>
              </ol>
            </nav>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ========================
       product single
    =========================== -->
    <section id="productSingle" class="shop product-single pb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert-panel d-flex align-items-center justify-content-between">
              <div class="alert__action">
                <a href="#" class="btn btn__primary">View Cart</a>
              </div><!-- /.alert__action-->
            </div><!-- /.alert-panel-->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="product__single-img">
              <img src="{{single.cover.url}}" class="zoomin" alt="product">
            </div><!-- /.product-img -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="product__title">{{single.titre}}</h4>
            <span class="product__price">{{single.prix}}Fcfa</span>
            <hr class="hr-dashed mt-30 mb-30">
            <div class="product__desc">
              <p>{{single.content|safe}}.</p>
            </div><!-- /.product-desc -->
            <form class="product__form-wrap mb-30">
              <div class="product__quantity d-flex">
                <div class="quantity__input-wrap mr-20">
                  <i class="decrease-qty"></i>
                  <input type="number" value="1" class="qty-input">
                  <i class="increase-qty"></i>
                </div>
                <button class="btn btn__primary">add to cart</button>
              </div><!-- /.product-quantity -->
            </form>
            <div class="product__meta">
              <div class="product__meta-cat">
                <span class="product__meta-title">Categories:</span>
                <a href="#">  
                {% for cat in single.categories.all %}
                  {{cat.titre}}
                {% endfor %}
                  </a>
                
              </div><!-- /.product__meta-cat -->
              <div class="product__meta-tags">
                <span class="product__meta-title">Tags:</span>
                <a href="#"> 
                {% for tg in single.tag.all %}
                  {{tg.titre}}
                {% endfor %}
                   </a>
               
              </div><!-- /.product__meta-tags -->
            </div><!-- /.product__meta -->
            <hr class="hr-dashed mt-30 mb-30">
            <div class="product__share d-flex align-items-center">
              <h6 class="product__share-title mb-0 mr-20">share:</h6>
              <ul class="social__icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!-- /.product-share -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="product__tabs mt-90">
              <nav class="nav nav-tabs justify-content-center">
                <a class="nav__link active" data-toggle="tab" href="#Description">Description</a>
                <a class="nav__link" data-toggle="tab" href="#Details">Additional Information</a>
                <a class="nav__link" data-toggle="tab" href="#Reviews">Reviews (0)</a>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="Description">
                  <p>{{single.description|safe}}.</p>
                </div><!-- /.desc-tab -->
                <div class="tab-pane fade" id="Details">
                  <p>{{single.information|safe}}.</p>
                </div><!-- /.details-tab -->
                <div class="tab-pane fade" id="Reviews">
                  <form class="row reviews__form" action="" method="post" id="ReviewForm" novalidate="novalidate">
                    <div class="col-sm-6 form-group">
                      <label for="reviewerName">Name</label>
                      <input id="reviewerName" type="text" class="form-control">
                    </div><!-- /.form-group -->
                    <div class="col-sm-6 form-group">
                      <label for="reviewerEmail">Email</label>
                      <input id="reviewerEmail" type="text" class="form-control">
                    </div><!-- /.form-group -->
                    <div class="col-sm-12 form-group">
                      <label for="reviewerReview">Review</label>
                      <textarea id="reviewerReview" class="form-control"></textarea>
                    </div><!-- /.form-group -->
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn__primary">Submit</button>
                    </div>
                  </form>
                </div><!-- /.reviews-tab -->
              </div>
            </div><!-- /.product-tabs -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.product single -->

    <!-- ========================
      Related products
    =========================== -->
    <section id="related-products" class="relted-products text-center pt-80 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h6 class="related__products-title font-weight-bold mb-30">Related Products</h6>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Product item #1 -->
          
          {% for p in prod %}
            
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="product-item">
              <div class="product__img">
                <img src="{{p.cover.url}}" alt="Product">
                <div class="product__hover">
                  <div class="product__action">
                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                  </div><!-- /.product__action -->
                </div><!-- /.product__hover-->
              </div><!-- /.product-img -->
              <div class="product__content">
                <div class="product__cat">
                  <a href="#">{% for tg in p.tag.all %}
                    {{tg.titre}}
                  {% endfor %}</a>
                </div>
                <h4 class="product__title"><a href="#">{{p.titre}}</a></h4>
                <span class="product__price">{{p.prix}}Fcfa</span>
              </div><!-- /.product-content -->
            </div><!-- /.product-item -->
          </div><!-- /.col-lg-4 -->

          {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.related-products -->

   {% endblock %}